@import url('https://fonts.cdnfonts.com/css/conthrax');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');



.Upcoming_exams {
    background-color: #ffffff2c;
    background-image: none;

    border-radius: 43px;
    width: 700px;
    height: auto;
    margin: auto;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    text-align: left;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s ;




}


.Upcoming_exams:hover{
    background-image: linear-gradient(90deg, #c38eff00 -1.39%, rgba(253, 253, 254, 0) -1.38%, rgba(111, 1, 255, 0.253) 99.99%, rgba(66, 0, 153, 0.6) 100%);
    scale: 102%;

}



.topic {
    margin-bottom: 150px;
}

.reddot {
    height: 15px;
    width: 15px;
    margin-left: 20px;
    margin-right: 20px;
    animation: blink 1.5s infinite;
    
}
.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.video-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 270px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 10px;  
    background: #ffffff25;
    margin-left: 20px;
    margin-right: 20px ;
    margin-top: 50px;
    transition: 0.3s;
    cursor: pointer;
    
}

.video-box img{
    width: 235px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #1E1E1E;
    margin-top: 20px ;
    // box-shadow: 0px 4px 4px 0px rgba(164, 123, 255, 0.23); 
    z-index: -1;
}

.video-title{
    margin-top: 10px;
    z-index: 1;
    text-align: left;
    width: 100%;
}
.video-title p {
    color: white ;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 5px 18px;
   
}

.video-container:hover{
    scale: 107%;
    background-color:#ffffff4e;
}


.channel-section{
    display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     text-align: center;
   
 }
 .channel-container{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     width: 280px;
     height: 280px;
     flex-shrink: 0;
     border-radius: 10px;  
     background: #ffffff25;
     margin-left: 20px;
     margin-right: 20px ;
     margin-top: 50px;
 
          }
 .channel-box{
   width: 201px;
   height: 201px;
   flex-shrink: 0;
   border-radius: 9999px;
   background: #ffffff;
   margin-top: 20px ;
   z-index: -1;
 }
 .channel-name{
     margin-top: 10px;
     z-index: 1;
     text-align: left;
     width: 100%;
 }
 .channel-name p {
     color: white ;
     font-family: sans-serif;
     font-size: 15px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     padding: 5px 18px;
 }
 .website-section  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.website-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 270px;
    height: 236px;
    flex-shrink: 0;
    border-radius: 30px;  
    background: #ffffff25;
    margin-left: 20px;
    margin-right: 20px ;
    margin-top: 50px;
    transition: 0.3s;
    cursor: pointer;
    
}

.website-box img{
    width: 235px;
    height: 134px;
    flex-shrink: 0;
    border-radius:30px;
    background: #1E1E1E;
    margin-top: 20px ;
    // box-shadow: 0px 4px 4px 0px rgba(164, 123, 255, 0.23); 
    z-index: -1;
}

.website-name{
    margin-top: 10px;
    z-index: 1;
    text-align: left;
    width: 100%;
}
.website-name p {
    color: white ;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 5px 18px;
   
}

.website-container:hover{
    scale: 107%;
    background-color:#ffffff4e;
}