@import url('https://fonts.cdnfonts.com/css/conthrax');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
.Upcoming_exams ul li{
    width: 700px;
    height: 35px;
    border-radius: 12px;
    opacity: 0.1;
    background: #fff;
    margin-left: 200px;
    font-family: sans-serif;
    font-size: 20px;
    
}